.main2
{
    margin-top: 70px;
    display: none;
}

.p2-description
{
    border: solid 4px rgba(0,0,0,0.5);
    height: 440px;
    word-wrap: break-word;
    font-size: 25px;
    padding-top: 10px;
    color: rgba(0,0,0,0.7);
    text-align: center;
    margin-bottom: -8px;
}

.p2-descr-table
{
    height: 410px;

}

.p2-items
{
    height: 440px;
    padding-top: 28px;
    margin-bottom: -8px;
}

.p2-title
{
    margin-left: -55px;
    margin-right: -15px;
    font-size: 25px;
    font-family: fontbold;
    color: rgba(0,0,0,0.5);
    border-bottom: solid 1px rgba(0,0,0,0.5);
}

.p2-item>li
{
    color: rgba(0,0,0,0.7);
    border: solid 2px rgba(0,0,0,0.5);
    list-style-type:none;
    font-size: 22px;
    text-align:center;
    margin-left: -55px;
    margin-right: -15px;
    margin-top: 20px;
    background-color: rgba(0,0,0,0);
    transition: 0.5s;
}

.p2-item>li:hover
{
    cursor:pointer;
}

.p2-item>li:hover:not(.item-active)
{
    background-color: rgba(0,0,0,0.5) !important;
    color: white !important;
    padding: -4px;
    transition: 0.4s;
    border: solid 2px rgba(0,0,0,0);
}

.item-active
{
    background-color: rgba(0,0,0,0.5) !important;
    color: white !important;
    border: solid 2px rgba(0,0,0,0) !important;
}

.vcenter
{
    margin-left: -28px;
    word-wrap: break-word;
}

.vcenter>div[class^="m2-"]>p
{
    margin-bottom: -30px;
    font-size: 13px;
    color: black !important;
    font-weight: bold;
    letter-spacing: 2px;
    border-bottom: 1px solid rgba(0,0,0,0.5);
}

.bottom
{
    position: absolute;
    width: 100%;
    left: 0px;
    bottom: 10px;
}

div[class^="m2-"]
{
    display: none;
}

div.m2-4
{
    font-size: 20px;
    line-height: 25px;
}

div.m2-4>p
{
    margin-bottom: -15px !important;
}

.item-d
{
    display: block;
    position: relative;
    top: -60px;
}

.item-d1
{
    margin-top: 5px !important;
}
