body
{
    background-image: url(../img/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.title
{
    color: white;
    text-shadow: 2px 2px 2px black;
}

.main
{
    margin-top: 20px;
}
