body
{
    background-image: url(../img/bg.jpg);
    background-size: cover;
    background-position: 0px -200px;
    background-repeat: no-repeat;
}

.white
{
    display:block;
    position:fixed;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    background-color: rgba(255,255,255,0.8);
    z-index: -20;
}

.p1-center-text
{
    margin-top: 100px;
    background-color:rgba(0,0,0, 0.2);
    height: 295px;
    word-wrap:break-word;
    overflow: hidden;
    text-align:center;
    color: white;
}

.title
{
    color: white;
    text-shadow: 2px 2px 2px black;
}

.main
{
    margin-top: 20px;
}
